.tooltip {
	position: relative;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	text-align: left;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s;

	font-size: 0.7em;
	color: #626262;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
